
.stat-result-abstract span.largest {
    color: green;
}

.stat-result-abstract span.smallest {
    color: red;
}


.stat-result-abstract tbody td {
  vertical-align: top;
}

.stat-result-abstract tbody td > div {
  max-height: 7rem;
  overflow-y: auto;
}

.stat-result-abstract tbody tr.good th {
  background-color: #DEEBD6;
}

.stat-result-abstract tbody tr.bad th {
  background-color: #F7CFCE;
}

.stat-result-abstract tbody tr.best th {
  background-color: #DEEBD6;
  color: green;
}

.stat-result-abstract tbody tr.worst th {
  background-color: #F7CFCE;
  color: red;
}
