
body.loading .loading-model {
  display: block !important;
}

.loading-model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 36pt;
  text-align: center;
  padding: 5em;
  cursor: wait;
  display: none;
  user-select: none;
  user-drag: none;
}